*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color: #000;
    --text-color: #fff;
    --button-background: #1E90FF;
    --button-hover: #00BFFF;
    --button-active: #0080FF;
    --textarea-background: #111;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

.container .output-container #copy {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 100px;
}

.container .textarea-container h1 {
    text-align: center;
    margin: 0 0 20px 0;
}

.container .output-container #output {
    margin: 0 30px;
}

.container .output-container,
.container .textarea-container {
    flex: 1;
    width: 500px;
    height: 600px;
    background: var(--textarea-background);
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    overflow: auto;
}

textarea#text-input {
    width: 600px;
    height: 400px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin: 0 auto;
    background: var(--textarea-background);
    border: 1px solid #ffffff;
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input#submit,
input#clear,
button#copy {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: var(--button-background);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 20px;
}

input#submit:hover,
input#clear:hover,
button#copy:hover {
    background-color: var(--button-hover);
}

input#submit:active,
input#clear:active,
button#copy:active {
    background-color: var(--button-active);
}

.output-container .copy-container{
    display: flex;
    justify-content: center;
}

.textarea-container .btn-container {
    display: flex;
    justify-content: center;
}